body {
    font-size: 14px; /* Adjust the font size value to your desired size */
  }
  .custom-container {
    padding: 150px;   /*Adjust the padding values as per your requirement  */
    justify-content: center; 
  
  }